body {
  background-color: #white;
  font-size: 10pt;
  margin: 0px;
  font-family: sans-serif;
}
#root {
}
.filterTagList {
  margin-left: 50px;
}
.notLoggedInRoot {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.notLoggedInPanel {
  background-color: #EEEEEE;
  margin: 0px 50px 50px 50px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 500px;
}
.appTitle {
  font-size: 14pt;
  margin: 10px;
  color: black;
}
.loginButton {
  margin: 10px;
}
.appSubtitle {
  font-size: 9pt;
  margin: 10px;
}
.menuRoot {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #0040BB;
  padding: 4px 8px 4px 8px;
  color: white;
}
.loadingState {
  margin: 0px 10px 0px 10px;
  color: cyan;
  width: 75px;
}
.loadingStateText {
  color: yellow;
  width: 75px;
}
.listRoot {
}
.listItem {
  cursor: pointer;
}
.entryHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 0px 6px 0px;
  background-color: #EEEEEE;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  padding-left: 6px;
}
.entryDate {
  font-size: 10pt;
}
.entryBody {
  margin: 5px;
  padding: 0px 0px 15px 15px;
}
.entryBodyRoot {
  background: white;
  border: 1px solid lightgray;
  flex: 1;
}
.entryBodyRoot .entryBody {
  padding: unset;
}
.logo {
  font-size: 18pt;
  color: white;
}
.loggedInRoot {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.menuRoot {
}
.listRoot {
  flex: 1;
  overflow: auto;
}
.dialogRoot {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px;
  background: #555555dd;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dialogContents {
  background-color: #EEEEEE;
  border: 1px solid black;
  border-radius: 8px;
  width: 85vw;
  height: 85vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.dialogContents .entryHeader {
  border: unset;
}
.dialogContents .entryHeader .entryDate {
  padding: 3px 6px 4px 3px;
}
.editHeader {
  display: flex;
  justify-content: space-between;
}
.editHeader button {
  margin-left: 2px;
  margin-right: 2px;
}
.buttonPair {
  margin: 5px;
  display: flex;
  flex-direction: row;
}
.buttonPair Button {
  margin: 5px;
}
.deleteConfirmationRoot {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.entryDateEdit {
  width: 100%;
  border: 1px solid black;
  padding: 2px;
  margin: 0px;
}
.entryBodyEdit {
  width: 100%;
  height: 100%;
  vertical-align: top;
  background: white;
  font-family: sans-serif;
  padding: 4px;
  resize: none;
}
.tagList {
  margin-left: 15px;
}
.tag {
  border: 2px solid;
  border-radius: 4px;
  padding: 2px;
  font-size: 9pt;
  margin-right: 5px;
  cursor: pointer;
}
