body {
  background-color: #505050;
  font-size: 10pt;
  color: white;
  margin: 0px;
  font-family: sans-serif;
}
#root {
  margin: 5px;
}
.filterTagList {
  margin-left: 50px;
}
.notLoggedInRoot {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.notLoggedInPanel {
  margin: 0px 50px 50px 50px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #404040;
  max-width: 500px;
}
.appTitle {
  font-size: 14pt;
  margin: 10px;
}
.loginButton {
  margin: 10px;
}
.appSubtitle {
  font-size: 9pt;
  margin: 10px;
}
.menuRoot {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.loadingState {
  margin: 0px 10px 0px 10px;
  color: cyan;
  width: 75px;
}
.loadingStateText {
  color: yellow;
  width: 75px;
}
.listRoot {
  background: #101010;
}
.listItem {
  cursor: pointer;
}
.entryHeader {
  background: #505050;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 0px 6px 2px;
}
.entryDate {
  font-size: 11pt;
}
.entryBody {
  margin: 5px;
  padding-bottom: 15px;
}
.entryBodyRoot {
  background: #101010;
  flex: 1;
}
.logo {
  font-size: 18pt;
}
.loggedInRoot {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.menuRoot {
}
.listRoot {
  flex: 1;
  overflow: auto;
}
.dialogRoot {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px;
  background: #555555dd;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dialogContents {
  background: #505050;
  border: 1px solid black;
  border-radius: 8px;
  width: 85vw;
  height: 85vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.editHeader {
  display: flex;
  justify-content: space-between;
}
.buttonPair {
  margin: 5px;
  display: flex;
  flex-direction: row;
}
.buttonPair Button {
  margin: 5px;
}
.deleteConfirmationRoot {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.entryDateEdit {
  width: 100%;
  background: transparent;
  color: white;
  border: 1px solid black;
  padding: 2px;
}
.entryBodyEdit {
  width: 100%;
  height: 100%;
  vertical-align: top;
  background: black;
  color: white;
  font-family: sans-serif;
  padding: 4px;
  resize: none;
}
.tagList {
  margin-left: 15px;
}
.tag {
  border: 2px solid;
  border-radius: 4px;
  padding: 2px;
  font-size: 9pt;
  margin-right: 5px;
  cursor: pointer;
}
